{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page error</h1>
    <p>
        Sorry, an error has occured. please try again later
    </p>
    <p>
       <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}