{% extends 'base.html.twig' %}

{% block body %}
    <h1>Forbidden</h1>
    <p>
        Access to the requested resource is prohibited for any reason
    </p>
    <p>
         <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}